# Test dependencies go here.
-r requirements_base.txt



coverage==4.4.2
django-coverage-plugin==1.5.0
flake8==3.0.4 # pyup: != 2.6.0
django-test-plus==1.0.22
factory_boy==2.9.2

# pytest
pytest-django==3.1.2
pytest-sugar==0.7.1

# Codacy and coverage support
codacy-coverage==1.3.2
coverage==4.4.2
