{% load rules %}
{% has_perm 'flowcells.update_barcodeset' request.user as can_change_barcodeset %}
{% has_perm 'flowcells.delete_barcodeset' request.user as can_delete_barcodeset %}

<div class="row">
  <div class="btn-group pull-right">
    <a class="btn btn-secondary" role="button"
        href="{% url 'barcodeset_list' %}">
      <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
      Back to List
    </a>
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton-{{ location }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{ location }}">
        <a class="dropdown-item"
            href="{% url 'barcodeset_export' pk=object.pk %}"
            title="Export barcode set to JSON">
          <i class="fa fa-download" aria-hidden="true"></i>
          Export
        </a>
        {% if can_delete_barcodeset %}
        <a class="dropdown-item"
            href="{% url 'barcodeset_delete' pk=object.pk %}"
            title="Delete barcode set {{ object.vendor_id }}">
          <i class="fa fa-eraser" aria-hidden="true"></i>
          Delete
        </a>
        {% endif %}
        {% if can_change_barcodeset %}
        <a class="dropdown-item"
            href="{% url 'barcodeset_updateentries' pk=object.pk %}"
            title="Update barcode set {{ object.vendor_id }}">
          <i class="fa fa-table" aria-hidden="true"></i>
          Update Barcodes
        </a>
        <a class="dropdown-item"
            href="{% url 'barcodeset_update' pk=object.pk %}"
            title="Update barcode set entries {{ object.vendor_id }}">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          Update
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
