<dl class="row">
  <dt class="col-sm-2">Created</dt>
  <dd class="col-sm-10">{{ object.created }}</dd>

  <dt class="col-sm-2">Last update</dt>
  <dd class="col-sm-10">{{ object.updated }}</dd>

  <dt class="col-sm-2">Owner</dt>
  <dd class="col-sm-10">{{ object.owner.username|default:"none" }}</dd>

  <dt class="col-sm-2">Name</dt>
  <dd class="col-sm-10">{{ object.name }}</dd>

  <dt class="col-sm-2">Instrument</dt>
  <dd class="col-sm-10">{{ object.sequencing_machine.vendor_id }}</dd>

  <dt class="col-sm-2">Lane count</dt>
  <dd class="col-sm-10">{{ object.num_lanes }}</dd>

  <dt class="col-sm-2">Status</dt>
  <dd class="col-sm-10">{{ object.status }}</dd>

  <dt class="col-sm-2">Operator</dt>
  <dd class="col-sm-10">{{ object.operator }}</dd>

  <dt class="col-sm-2">Is paired</dt>
  <dd class="col-sm-10">{{ object.is_paired }}</dd>

  <dt class="col-sm-2">Index read count</dt>
  <dd class="col-sm-10">{{ object.index_read_count }}</dd>

  <dt class="col-sm-2">RTA version</dt>
  <dd class="col-sm-10">{{ object.rta_version }}</dd>

  <dt class="col-sm-2">Read length</dt>
  <dd class="col-sm-10">{{ object.read_length }}</dd>

  <dt class="col-sm-2">Description</dt>
  <dd class="col-sm-10">{{ object.description|default:"-" }}</dd>
</dl>
