{% load crispy_forms_filters %}

<div class="text-right mb-3">
  <div class="btn-group" role="group">
    <a class="btn btn-secondary" role="button"
        href="{% url 'flowcell_list' %}">
      <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
      Back to List
    </a>
    <div class="btn-group" role="group">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton-{{ location }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton-{{ location }}">
        <a class="dropdown-item" href="{% url 'flowcell_export' uuid=object.uuid %}">
          <i class="fa fa-download" aria-hidden="true"></i>
          Export
        </a>
        <a class="dropdown-item" href="{% url 'flowcell_sheet' uuid=object.uuid %}">
          <i class="fa fa-wpforms" aria-hidden="true"></i>
          Sheet Export
        </a>
        {% if can_add_message %}
        <a class="dropdown-item"
            href="{% url 'flowcell_add_message' related_uuid=object.uuid %}"
            title="Add message to {{ object.vendor_id }}">
          <i class="fa fa-reply" aria-hidden="true"></i>
          Add Message
        </a>
        {% endif %}
        {% if can_change_flowcell %}
        <a class="dropdown-item"
            href="{% url 'flowcell_updatelibraries' uuid=object.uuid %}"
            title="Update libraries {{ object.vendor_id }}">
          <i class="fa fa-table" aria-hidden="true"></i>
          Update Libraries
        </a>
        <a class="dropdown-item"
            href="{% url 'flowcell_extract' uuid=object.uuid %}"
            title="Copy and paste libraries for {{ object.vendor_id }}">
          <i class="fa fa-clipboard" aria-hidden="true"></i>
          Copy &amp; Paste XLS
        </a>
        <a class="dropdown-item" data-toggle="collapse"
            href="#collapse-{{ location }}"
            aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
          Prefilled Update Libraries
        </a>
        <a class="dropdown-item"
            href="{% url 'flowcell_update' uuid=object.uuid %}"
            title="Update flow cell {{ object.vendor_id }}">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          Update
        </a>
        {% endif %}
        {% if can_delete_flowcell %}
        <a class="dropdown-item"
            href="{% url 'flowcell_delete' uuid=object.uuid %}"
            title="Delete flow cell {{ object.vendor_id }}">
          <i class="fa fa-eraser" aria-hidden="true"></i>
          Delete
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if can_change_flowcell %}
<div class="my-3">
  <div class="collapse" id="collapse-{{ location }}">
    <div class="card card-body">
      <form action="{% url 'flowcell_updatelibraries' uuid=object.uuid %}"
          method="get">
        {% crispy prefill_form helper %}
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-table" aria-hidden="true"></i>
          Prefilled Update Libraries Form
        </button>
      </form>
    </div>
  </div>
</div>
{% endif %}
