{% load flowcells_tags %}

<table class="table table-striped table-hover">
  <thead>
    <tr>
        <th class="col-md-3">Name</th>
        <th class="col-md-1">Reference</th>
        <th class="col-md-3">Index Set</th>
        <th class="col-md-2">Index</th>
        <th class="col-md-2">Index Seq.</th>
        <th class="col-md-1">Lanes</th>
    </tr>
  </thead>
  <tbody>
    {% for lib in object.sorted_libraries.all %}
    <tr>
      <td>{{ lib.name }}</td>
      <td>{{ lib.reference }}</td>
      <td>
        {% if object.index_read_count %}
          {{ lib.barcode_set.name }}
          {% if object.index_read_count > 1 %}
            / {{ lib.barcode_set2.name }}
          {% endif %}
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% if object.index_read_count %}
          {{ lib.barcode.name }}
          {% if object.index_read_count > 1 %}
            / {{ lib.barcode2.name }}
          {% endif %}
        {% else %}
        -
        {% endif %}
      </td>
      <td>{{ lib.barcode.sequence }}
        {% if object.index_read_count > 1 %}
          / {{ lib.barcode2.sequence }}
        {% endif %}  
      </td>
      <td>{{ lib.lane_numbers|integer_range }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
