{% load flowcells_tags %}

{% if not object|flowcell_mode_ok %}
<div class="alert alert-error" role="alert">
  <h4 class="alert-heading">
    <i class="fa fa-warning"></i>
    Problem With Read Lengths!
  </h4>
  The actual ({{ flowcell.info_final_reads|flow_cell_mode }}) read lengths are different from the planned ({{  flowcell.info_planned_reads|flow_cell_mode }}) ones.
  This usually is an indicator of aborted sequencing.
</div>
{% endif %}

<dl class="row">
  <dt class="col-sm-2">Created</dt>
  <dd class="col-sm-10">{{ object.created }}</dd>

  <dt class="col-sm-2">Last update</dt>
  <dd class="col-sm-10">{{ object.modified }}</dd>

  <dt class="col-sm-2">Owner</dt>
  <dd class="col-sm-10">{{ object.owner.username|default:"none" }}</dd>

  <dt class="col-sm-2">Instrument</dt>
  <dd class="col-sm-10">{{ object.sequencing_machine.vendor_id }}</dd>

  <dt class="col-sm-2">Vendor</dt>
  <dd class="col-sm-10">{{ object.vendor_id }}</dd>

  <dt class="col-sm-2">Run Number</dt>
  <dd class="col-sm-10">{{ object.run_number }}</dd>

  <dt class="col-sm-2">Slot</dt>
  <dd class="col-sm-10">{{ object.slot }}</dd>

  <dt class="col-sm-2">Experiment name</dt>
  <dd class="col-sm-10">{{ object.label|default:"-" }}</dd>

  <dt class="col-sm-2">Full Name</dt>
  <dd class="col-sm-10">{{ object.get_full_name }}</dd>

  <dt class="col-sm-2">Lane count</dt>
  <dd class="col-sm-10">{{ object.num_lanes }}</dd>

  <dt class="col-sm-2">Status Sequencing</dt>
  <dd class="col-sm-10">
    <i
      class="{{ object.status_sequencing|status_to_icon }}"
    ></i>
    {{ flowcell.status_sequencing|status_to_title }}
  </dd>

  <dt class="col-sm-2">Status Conversion</dt>
  <dd class="col-sm-10">
    <i
      class="{{ object.status_conversion|status_to_icon }}"
    ></i>
    {{ flowcell.status_conversion|status_to_title }}
  </dd>

  <dt class="col-sm-2">Status Delivery</dt>
  <dd class="col-sm-10">
    <i
      class="{{ object.status_delivery|status_to_icon }}"
    ></i>
    {{ flowcell.status_delivery|status_to_title }}
  </dd>

  <dt class="col-sm-2">Operator</dt>
  <dd class="col-sm-10">{{ object.operator }}</dd>

  <dt class="col-sm-2">Planned Reads</dt>
  <dd class="col-sm-10 {% if not object|flowcell_mode_ok %}text-warning{% endif %}">{{ object.info_planned_reads|flow_cell_mode }}</dd>

  <dt class="col-sm-2">Actual Reads</dt>
  <dd class="col-sm-10 {% if not object|flowcell_mode_ok %}text-warning{% endif %}">{{ object.info_final_reads|flow_cell_mode }}</dd>

  <dt class="col-sm-2">RTA version</dt>
  <dd class="col-sm-10">{{ object.rta_version }}</dd>

  <dt class="col-sm-2">Description</dt>
  <dd class="col-sm-10">{{ object.description|default:"-" }}</dd>
</dl>
