<div class="row">
  <div class="text-xs-right mt-t-1 m-b-1">
    <div class="btn-group" role="group">
      <a class="btn btn-secondary" role="button"
         href="{% url 'flowcell_import' %}"
         title="Import flow cells from YAML">
        <i class="fa fa-upload" aria-hidden="true"></i>
        Import
      </a>
      <a class="btn btn-primary" role="button"
         href="{% url 'flowcell_create' %}"
         title="Create new flow cell">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Create New
      </a>
    </div>
  </div>
</div>
