{% load rules %}
{% has_perm 'flowcells.update_sequencingmachine' request.user object as can_change_sequencingmachine %}
{% has_perm 'flowcells.delete_sequencingmachine' request.user object as can_delete_sequencingmachine %}

<div class="text-right mb-3">
  <div class="btn-group" role="group">
    <a class="btn btn-secondary" role="button"
        href="{% url 'instrument_list' %}">
      <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
      Back to List
    </a>
    {% if can_delete_sequencingmachine or can_change_sequencingmachine %}
      <div class="btn-group" role="group">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton-{{ location }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton-{{ location }}">
          {% if can_change_sequencingmachine %}
            <a class="dropdown-item"
                href="{% url 'instrument_update' uuid=object.uuid %}"
                title="Update flow cell {{ object.vendor_id }}">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Update
            </a>
            {% endif %}
            {% if can_delete_sequencingmachine %}
            <a class="dropdown-item"
                href="{% url 'instrument_delete' uuid=object.uuid %}"
                title="Delete flow cell {{ object.vendor_id }}">
              <i class="fa fa-eraser" aria-hidden="true"></i>
              Delete
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
