{% extends "base.html" %}
{% load static %}
{% load markdown_deux_tags %}

{% block title %}Barcode Sets{% endblock %}

{% block content %}
<div class="row">
  <h2>Barcode Sets</h2>

  {% include "flowcells/_barcodeset_list_buttons.html" %}

  <div class="list-group">
    <table class="table table-hover table-striped">
      <thead>
        <tr class="row">
            <th class="col-md-4">Name</th>
            <th class="col-md-2">Short Name</th>
            <th class="col-md-6">Description</th>
            <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for barcode_set in object_list %}
          <tr>
            <td>
              <a href="{% url 'barcodeset_view' pk=barcode_set.pk %}">
              {{ barcode_set.name }}
              </a>
            </td>
            <td>
              <a href="{% url 'barcodeset_view' pk=barcode_set.pk %}">
                {{ barcode_set.short_name }}
              </a>
            </td>
            <td>{{ barcode_set.description|default:"-"|markdown }}</td>

            <td>
              <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle"
                    type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                  Actions
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'barcodeset_view' pk=barcode_set.pk %}">View</a>
                  <a class="dropdown-item" href="{% url 'barcodeset_export' pk=barcode_set.pk %}">Export</a>
                  <a class="dropdown-item" href="{% url 'barcodeset_update' pk=barcode_set.pk %}">Update</a>
                  <a class="dropdown-item" href="{% url 'barcodeset_updateentries' pk=barcode_set.pk %}">Update Entries</a>
                  <a class="dropdown-item" href="{% url 'barcodeset_delete' pk=barcode_set.pk %}">Delete</a>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% include "flowcells/_barcodeset_list_buttons.html" %}

</div>
{% endblock content %}
