{% extends "base.html" %}
{% load static %}

{% block title %}Confirm deletion of {{ object.name }}{% endblock %}

{% block content %}
  <h2>Confirm deletion of {{ object.name }}</h2>

  <p>
    Do you really want to delete the barcode set shown below and all
    barcode entries?
  </p>

  {% include "flowcells/_barcodeset_detail_properties.html" %}

  <form method="post">{% csrf_token %}
    <div class="text-right mb-3">
      <div class="btn-group" role="group">
        <a role="button" class="btn btn-secondary"
            href="{% url 'barcodeset_view' pk=object.pk %}">
          <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
          Cancel
        </a>
        <button type="submit" class="btn btn-danger">
          <i class="fa fa-times" aria-hidden="true"></i>
            Delete
        </button>
      </div>
    </div>
  </form>
{% endblock %}
