{% extends "base.html" %}
{% load static %}
{% load markdown_deux_tags %}
{% load rules %}

{% block title %}Barcode Sets{% endblock %}

{% block content %}
  <h2>Barcode Sets</h2>

  {% has_perm 'flowcells.add_barcodeset' request.user as can_add_barcodeset %}
  {% if can_add_barcodeset %}
    {% include "flowcells/_barcodeset_list_buttons.html" %}
  {% endif %}

  <table class="table table-hover table-striped">
    <thead>
      <tr>
          <th class="col-3">Name</th>
          <th class="col-2">Short Name</th>
          <th class="col-6">Description</th>
          <th class="col-1">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for barcode_set in object_list %}
        <tr>
          <td>
            <a href="{% url 'barcodeset_view' uuid=barcode_set.uuid %}">
            {{ barcode_set.name }}
            </a>
          </td>
          <td>
            <a href="{% url 'barcodeset_view' uuid=barcode_set.uuid %}">
              {{ barcode_set.short_name }}
            </a>
          </td>
          <td>{{ barcode_set.description|default:"-"|markdown }}</td>

          <td>
            <div class="btn-group" role="group">
              <button class="btn btn-secondary btn-sm dropdown-toggle"
                  type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'barcodeset_view' uuid=barcode_set.uuid %}">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                  View
                </a>
                <a class="dropdown-item" href="{% url 'barcodeset_export' uuid=barcode_set.uuid %}">
                  <i class="fa fa-download" aria-hidden="true"></i>
                  Export
                </a>
                {% has_perm 'flowcells.change_barcodeset' request.user barcode_set as can_change_barcodeset %}
                {% if can_change_barcodeset %}
                  <a class="dropdown-item" href="{% url 'barcodeset_update' uuid=barcode_set.uuid %}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Update
                  </a>
                  <a class="dropdown-item" href="{% url 'barcodeset_updateentries' uuid=barcode_set.uuid %}">
                    <i class="fa fa-table" aria-hidden="true"></i>
                    Update Entries
                  </a>
                {% endif %}
                {% has_perm 'flowcells.delete_barcodeset' request.user barcode_set as can_delete_barcodeset %}
                {% if can_delete_barcodeset %}
                  <a class="dropdown-item" href="{% url 'barcodeset_delete' uuid=barcode_set.uuid %}">
                    <i class="fa fa-eraser" aria-hidden="true"></i>
                    Delete
                  </a>
                {% endif %}
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if can_add_barcodeset %}
    {% include "flowcells/_barcodeset_list_buttons.html" %}
  {% endif %}

{% endblock content %}
