{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}Update Barcode Set Entries{% endblock %}

{% block content %}
  <h2>Update Barcode Set Entries</h2>

  <form method="post">
    {% crispy formset helper %}

    <div class="text-right mb-3">
      <a role="button" class="btn btn-secondary"
          href="{% url 'barcodeset_view' pk=object.pk %}">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        Cancel
      </a>
      <button type="submit" name="submit_more" value="submit_more" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Save and add more
      </button>
      <button type="submit" name="submit" value="submit" class="btn btn-primary">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </form>

{% endblock content %}
