{% extends "base.html" %}
{% load static %}

{% block title %}Flow Cells{% endblock %}

{% block content %}
<div class="container">
  <h2>Flow Cells</h2>

  {% include "flowcells/_flowcell_list_buttons.html" %}

  <div class="list-group">
    <table class="table table-hover table-striped">
      <thead>
        <tr class="row">
            <th class="col-md-1">Date</th>
            <th class="col-md-1">Status</th>
            <th class="col-md-2">Instrument</th>
            <th class="col-md-2">Flow Cell</th>
            <th class="col-md-1">Mode</th>
            <th class="col-md-1" title="RTA version 1.x/2.x">RTAv</th>
            <th class="col-md-2">Operator</th>
            <th class="col-md-1 text-right">Libraries</th>
            <th class="col-md-1">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for flowcell in flowcell_list %}
          <tr>
            <td>{{ flowcell.token_date }}</td>
            <td>{{ flowcell.status }}</td>
            <td>{{ flowcell.sequencing_machine.vendor_id }}</td>
            <td>
              <a href="{% url 'flowcell_view' pk=flowcell.pk %}"
                 title="Show flow cell {{ flowcell.token_vendor_id }} details">
                {{ flowcell.token_vendor_id }}
              </a>
            </td>
            <td>
              {% if flowcell.is_paired %}
                2 x
              {% else %}
                1 x
              {% endif %}
              {{ flowcell.read_length }}
            </td>
            <td>{{ flowcell.rta_version }}</td>
            <td>{{ flowcell.operator }}</td>
            <td>{{ flowcell.libraries.count }}</td>
            <td>-</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% include "flowcells/_flowcell_list_buttons.html" %}

</div>
{% endblock content %}
