{% extends "flowcells/flowcell_extractlibraries.html" %}

{% block table_preview %}
<div>
  <h2>Data Preview</h2>

  <p>
    Below, you can see a preview of the uploaded data with row and column
    numbers.
  <p>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        {% for _ in table_cols %}
        <th>{{ forloop.counter }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in table_rows %}
        <tr>
          <td>{{ forloop.counter }}</td>
          {% for field in row %}
            <td>{{ field|default:"&nbsp;" }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
