{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}Update Flow Cell Libraries{% endblock %}

{% block content %}

  <h2>Update Flow Cell Libraries</h2>

  <form method="post">
    {% crispy formset helper %}

    <div class="text-right mb-3">
      <div class="btn-group" role="group">
        <a role="button" class="btn btn-secondary"
            href="{% url 'flowcell_view' pk=object.pk %}">
          <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
          Cancel
        </a>
        <button type="submit" name="submit_more" value="submit_more" class="btn btn-primary">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Save and add more
        </button>
        <button type="submit" name="submit" value="submit" class="btn btn-primary">
          <i class="fa fa-check" aria-hidden="true"></i>
          Save
        </button>
      </div>
    </div>
  </form>
{% endblock content %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript">
    /* Convert from barcode <select> to barcode_set <select> id */
    function barcodeToSet(barcodeId) {
        console.log('barcodeToSet(' + barcodeId + ')');
        var num = barcodeId.slice(barcodeId.length - 1);
        console.log("num", num, typeof(num));
        if (num != "2")
            num = "";
        var name = barcodeId.slice(0, barcodeId.length - num.length);
        console.log('name ' + name + ", " + num.length);
        console.log('return ' + name + '_set' + num);
        return barcodeId.slice(0, barcodeId.length - num.length) + '_set' + num;
    }

    /* Convert from barcode_set <select> id to barcode <select> */
    function barcodeSetToBarcode(barcodeId) {
        console.log('barcodeSetToBarcode(' + barcodeId + ')');
        var num = barcodeId.slice(barcodeId.length - 1);
        if (num != "2")
            num = "";
        console.log('num ' + num);
        console.log('return ' + barcodeId.substr(0, barcodeId.length - 4 - num.length) + num);
        return barcodeId.substr(0, barcodeId.length - 4 - num.length) + num;
    }

    /* Update barcode field for a given select barcode set field */
    function barcodeSetUpdated(barcodeSetSelect) {
        var selectedValue = $(barcodeSetSelect).val();
        var barcodeSelect = $('#' + barcodeSetToBarcode(barcodeSetSelect.attr('id')));
        barcodeSelect.prop('disabled', !selectedValue);
        if (!selectedValue) {
            barcodeSelect.val('');
        } else {
            barcodeSelect.find('option').each(function() {
                console.log($(this));
                var dataSetId = $(this).attr('data-set-id');
                console.log(dataSetId, barcodeSetSelect.val());
                console.log(typeof(dataSetId), typeof(barcodeSetSelect.val()));
                console.log(dataSetId == barcodeSetSelect.val());
                if (dataSetId == '' || dataSetId == barcodeSetSelect.val()) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
    }

    $(document).ready(function () {
        $('select.barcode-field, select.barcode-field2').each(function() {
            console.log('1', this);
            console.log('2', $(this).attr('id'));
            var barcodeSetId = '#' + barcodeToSet($(this).attr('id'));
            barcodeSetUpdated($(barcodeSetId));
        });
        $('select.barcode-set-field, select.barcode-set-field2').change(
            function() {
              barcodeSetUpdated($(this));
        });
        $('table thead tr th:last').after(
          '<th for="div_id_form-0-DELETE" class="control-label">Delete</th>');
    });
</script>
{% endblock %}
