{% extends "base.html" %}
{% load static %}
{% load rules %}
{% load flowcells_tags %}

{% block title %}Flow Cells{% endblock %}

{% block content %}
  <h2>Flow Cells</h2>

  {% has_perm 'flowcells.add_flowcell' request.user as can_add_flowcell %}
  {% if can_add_flowcell %}
    {% include "flowcells/_flowcell_list_buttons.html" %}
  {% endif %}

      <table class="table table-hover table-striped table-sm">
      <thead>
        <tr>
          <th class="col-1 text-center">Flags/Status</th>
          <th class="col-1">Date</th>
          <th class="col-1">Instrument</th>
          <th class="col-5">Flow Cell</th>
          <th class="col-1">Mode</th>
          <th class="col-3">Seq./Demux. Operator</th>
          <th class="col-1" colspan="2">Libraries</th>
        </tr>
      </thead>
      <tbody>
        {% for flowcell in object_list %}
          <tr>
            <td style="white-space:nowrap;">
              {% if not flowcell|flowcell_mode_ok %}
                <i class="fa fc-fw fa-flag text-danger" aria-hidden="true"
                   data-toggle="tooltip"
                   title="Actual read configuration ({{ flowcell.info_final_reads|flow_cell_mode }}) different from planned ({{  flowcell.info_planned_reads|flow_cell_mode }})"></i>
              {% else %}
                <i class="fa fc-fw fa-flag-o text-muted" aria-hidden="true" style="opacity: 0.3;"
                   data-toggle="tooltip"
                   title="No flag, looks good"
                   ></i>
              {% endif %}
              <i class="ml-3 {{ flowcell.status_sequencing|status_to_icon }}"
                 data-toggle="tooltip popover"
                 data-title="Sequencing Status:<br>{{ flowcell.status_sequencing|status_to_title }}"
                 data-html="true"
                 data-popover-title="Update Sequencing Status"
                 data-popover-content="{% get_status_form flowcell "sequencing" csrf_token|escape %}"
              ></i>
              <i class="{{ flowcell.status_conversion|status_to_icon }}"
                 data-toggle="tooltip popover"
                 data-title="Conversion Status:<br>{{ flowcell.status_conversion|status_to_title }}"
                 data-html="true"
                 data-popover-title="Update Conversion Status"
                 data-popover-content="{% get_status_form flowcell "conversion" csrf_token|escape %}"
              ></i>
              <i
                class="{{ flowcell.status_delivery|status_to_icon }}"
                 data-toggle="tooltip popover"
                 data-title="Delivery Status:<br>{{ flowcell.status_delivery|status_to_title }}"
                 data-html="true"
                 data-popover-title="Update Delivery Status"
                 data-popover-content="{% get_status_form flowcell "delivery" csrf_token|escape %}"
              ></i>
              {% if flowcell.delivery_type == "seq" %}
                <i class="ml-3 fa fc-fw fa-file-text-o" aria-hidden="true"
                   data-toggle="tooltip"
                   title="Convert base calls to sequences"
                ></i>
                <i class="fa fc-fw fa-file-archive-o text-muted" aria-hidden="true"
                   data-toggle="tooltip"
                   title="DO NOT create raw base call archives"
                   style="opacity: 0.3"
                ></i>
              {% elif flowcell.delivery_type == "bcl" %}
                <i class="ml-3 fa fc-fw fa-file-text-o text-muted"
                   data-toggle="tooltip"
                   title="DO NOT convert base calls to sequences"
                   style="opacity: 0.3"
                ></i>
                <i class="fa fc-fw fa-file-archive-o"
                   aria-hidden="true" data-toggle="tooltip"
                   title="Create raw base call archives"
                ></i>
              {% else %}
                <i class="ml-3 fa fc-fw fa-file-text-o"
                   aria-hidden="true" data-toggle="tooltip"
                   title="Convert base calls to sequences"
                ></i>
                <i class="fa fc-fw fa-file-archive-o"
                   aria-hidden="true" data-toggle="tooltip"
                   title="Create raw base call archives"
                ></i>
              {% endif %}
              {% if flowcell.description %}
                <i class="ml-3 fa fc-fw fa-comment-o"  aria-hidden="true"
                   data-toggle="tooltip"
                   title="{{ flowcell.description }}"></i>
              {% else %}
                <i class="ml-3 fa fc-fw fa-comment-o text-muted" aria-hidden="true" style="opacity: 0.3;"
                   data-toggle="tooltip"
                   title="no description"
                   ></i>
              {% endif %}
              {% if flowcell.messages.all %}
                <i class="fa fc-fw fa-envelope-o" aria-hidden="true"
                   data-toggle="tooltip"
                   title="{{ flowcell.messages.all|length }} message(s)"></i>
              {% else %}
                <i class="fa fc-fw fa-envelope-o text-muted" aria-hidden="true" style="opacity: 0.3;"
                   data-toggle="tooltip"
                   title="no message"
                ></i>
              {% endif %}
              {% if flowcell.count_files %}
                <i class="fa fc-fw fa-files-o mr-3" aria-hidden="true"
                   data-toggle="tooltip"
                   title="{{ flowcell.count_files }} file(s)"></i>
              {% else %}
                <i class="fa fc-fw fa-files-o text-muted mr-3" aria-hidden="true" style="opacity: 0.3;"
                   data-toggle="tooltip"
                   title="no files"
                ></i>
              {% endif %}
            </td>
            <td>{{ flowcell.run_date|date:"y/m/d" }}</td>
            <td>
              <a href="{% url 'instrument_view' uuid=flowcell.sequencing_machine.uuid %}"
                 data-toggle="tooltip"
                 title="{{ flowcell.sequencing_machine.vendor_id }}: {{ flowcell.sequencing_machine.machine_model }}">
                {{ flowcell.sequencing_machine.vendor_id }}
              </a>
              </td>
            <td>
              <a href="{% url 'flowcell_view' uuid=flowcell.uuid %}"
                 title="Show flow cell {{ flowcell.vendor_id }} details">
                {{ flowcell.vendor_id }} {% if flowcell.label %} <small class="text-muted text-small">{{ flowcell.label }}</small>{% endif %}
              </a>
            </td>
            <td>
              {{ flowcell.info_planned_reads|flow_cell_mode }}
            </td>
            <td>
              {{ flowcell.operator }} /
              {{ flowcell.demux_operator|default:"-" }}
            </td>
            <td class="text-right">{{ flowcell.libraries.count }}</td>
            <td class="text-right" style="width:60px;">
              <div class="btn-group" role="group">
                <button class="btn btn-secondary btn-sm dropdown-toggle"
                    type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="{% url 'flowcell_view' uuid=flowcell.uuid %}">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    View
                  </a>
                  <a class="dropdown-item" href="{% url 'flowcell_export' uuid=flowcell.uuid %}">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    Export
                  </a>
                  <a class="dropdown-item" href="{% url 'flowcell_sheet' uuid=flowcell.uuid %}">
                    <i class="fa fa-wpforms" aria-hidden="true"></i>
                    Sheet Export
                  </a>
                  {% has_perm 'threads.add_message' request.user as can_add_message %}
                  {% if can_add_message %}
                  <a class="dropdown-item"
                      href="{% url 'flowcell_add_message' related_uuid=flowcell.uuid %}"
                      title="Add message to {{ object.vendor_id }}">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                    Add Message
                  </a>
                  {% endif %}
                  {% has_perm 'flowcells.change_flowcell' request.user flowcell as can_change_flowcell %}
                  {% if can_change_flowcell %}
                    <a class="dropdown-item" href="{% url 'flowcell_update' uuid=flowcell.uuid %}">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      Update
                    </a>
                    <a class="dropdown-item" href="{% url 'flowcell_updatelibraries' uuid=flowcell.uuid %}">
                      <i class="fa fa-table" aria-hidden="true"></i>
                      Update Libraries
                    </a>
                  {% endif %}
                  {% has_perm 'flowcells.delete_flowcell' request.user flowcell as can_delete_flowcell %}
                  {% if can_delete_flowcell %}
                    <a class="dropdown-item" href="{% url 'flowcell_delete' uuid=flowcell.uuid %}">
                      <i class="fa fa-eraser" aria-hidden="true"></i>
                      Delete
                    </a>
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% if is_paginated %}
    <nav aria-label="Page navigation">
      <div class="text-center">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1">
                &laquo; first
              </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                &lsaquo; previous
              </a>
            </li>
          {% endif %}

          {% for i in paginator.page_range %}
            <li class="page-item{% if page_obj.number == i %} active {% endif %}">
              <a class="page-link" href="?page={{i}}">{{i}}</a>
          </li>
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                next &rsaquo;
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                last &raquo;
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  {% endif %}

  {% if can_add_flowcell %}
    {% include "flowcells/_flowcell_list_buttons.html" %}
  {% endif %}

{% endblock content %}
