{% extends "base.html" %}

{% block content %}
  <h2>Search</h2>

  <form method="GET" action="{% url 'search' %}">
    <div class="input-group">
      <input value="{{ query }}" type="text" class="form-control" name="q" placeholder="Search Term">
      <span class="input-group-append">
        <button class="btn btn-primary" type="submit">Go!</button>
      </span>
    </div>
  </form>

  {% if results %}
  <h3>Results</h3>

  <ul>
    {% for result in results %}
    <li>
      <a href="{{ result.get_absolute_url }}">
        {{ result.get_search_result.title }}
        ({{ result.get_search_result.type }})
      </a>
      {{ result.get_search_result.description }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
