{% extends "base.html" %}
{% load static %}
{% load markdown_deux_tags %}

{% block title %}Sequencing Machines{% endblock %}

{% block content %}
<div class="container">
  <h2>Sequencing Machines</h2>

  {% include "flowcells/_sequencingmachine_list_buttons.html" %}

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="col-sm-2">
          Vendor ID
        </th>
        <th class="col-sm-2">
          Model
        </th>
        <th class="col-sm-8">
          Short Description
        </th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for machine in object_list %}
      <tr>
        <td>
          <a href="{% url 'instrument_view' pk=machine.pk %}">
            {{ machine.vendor_id }}
          </a>
        </td>
        <td>
          {{ machine.machine_model }}
        </td>
        <td>
          {{ machine.description|markdown }}
        </td>
        <td>
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle"
                type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              Actions
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'instrument_view' pk=machine.pk %}">View</a>
              <a class="dropdown-item" href="{% url 'instrument_update' pk=machine.pk %}">Update</a>
              <a class="dropdown-item" href="{% url 'instrument_delete' pk=machine.pk %}">Delete</a>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include "flowcells/_sequencingmachine_list_buttons.html" %}
</div>
{% endblock %}
